.page_left {
    margin-left: 55px;
}

#Add-Division {
    position: absolute;
    top: 60px;
    left: 52%;
    transform: translateX(-50%);
    z-index: 9000;
    width: 1510px;
    height: 90vh;
    overflow: visible !important;
}

::ng-deep .cdk-overlay-container {
    z-index: 999999 !important;
    position: fixed !important;
}

hr {
    border-top: 2px solid #000000;
}

label {
    color: #909090
}

/* ! Drop down select */
.custom-multiselect {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.multiselect-wrapper {
    position: relative;
}

.form-select {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.form-select:focus {
    border-color: #1997ce;
    box-shadow: 0 0 5px #d1d1d1;
}

.selected-items {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.badge {
    background-color: #1997ce !important;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.badge .remove {
    margin-left: 6px;
    cursor: pointer;
    font-weight: bold;
}

::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
    color: black !important;
    padding: 10px;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 40px;
}

::ng-deep .date-picker-container {
    display: flex;
    align-items: center;
    width: 100%;
}

::ng-deep .date-picker-container input {
    flex-grow: 1;
}

::ng-deep .calendar-icon {
    cursor: pointer;
    margin-left: 8px;
    /* Add a small gap between the input and the icon */
    width: 20px;
    /* You can adjust the size of the icon here */
    height: 20px;
    /* Adjust the height of the icon */
}

.date-picker-container {
    width: 100%;


}

.mat-form-field-wrapper {
    padding-right: 48px;
}

.calendar-icon {
    position: absolute;
    right: 0px;
    padding: 12px;
    top: 35%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 5;
    background-color: #2E3032;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px !important;
    flex: auto;
    will-change: auto;
}

::ng-deep .mdc-text-field {
    display: inline-flex;
    align-items: baseline;
    padding: 0 0px !important;
    position: relative;
    overflow: hidden;
    will-change: opacity, transform, color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

::ng-deep .mat-form-field-appearance-outline {
    border-color: #ccc;
}

::ng-deep .mat-mdc-form-field-bottom-align {
    display: none !important;
}

::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    height: auto;
    position: absolute;
    top: 8px;
    left: 8px;
}