<div class="row d-flex align-items-center">
  <!-- Left: Login Section -->
  <div class="col-5">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
      <div>
        <img src="IMAGES/Logo.png" alt="image" style="height: 110px; width: auto; margin: 10px; padding: 15px" />
      </div>
      <div>
        <p style="color: #2e3032; letter-spacing: 2px;font-size: 24px;font-weight: 500; margin-bottom: 0px;">
          Welcome to Sales Jump!!
        </p>
      </div>
      <div class="container">
        <div class="row justify-content-center border-none">
          <div class="col-md-9">
            <div class="p-4">
              <form>
                <div class="mb-3">
                  <label for="username" class="form-label labels">User Name</label>
                  <input type="text" class="form-control" id="username" />
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label labels">Password</label>
                  <div class="password-wrapper">
                    <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" />
                    <img
                      [src]="showPassword ? 'Assets/LoginPageImages/Show_Password.svg' : 'Assets/LoginPageImages/Hide_Password.svg'"
                      alt="Toggle Password" (click)="togglePassword()" />
                  </div>
                </div>
                <div class="text-end mb-4">
                  <a [routerLink]="'/forgotpassword'" style="text-decoration: none; color: #1997ce">
                    Forgot Password?
                  </a>
                </div>
                <button type="submit" [routerLink]="'/master/basic_details/company'" class="btn w-100"
                  style="background-color: #1997ce; color: white; padding: 9px; font-size: 16px;">
                  Login
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right: Carousel Section -->
  <div class="col-md-7 p-0">
    <div class="full-height-box">
      <!-- Carousel Slides -->
      <div class="carousel-slides">
        <div class="carousel-slide d-flex flex-column" *ngFor="let slide of slides; let i = index"
          [ngClass]="{ 'active-slide': i === currentSlide }">
          <img [src]="slide.image" alt="slide image" class="img-fluid mb-3" />
          <h5>{{ slide.title }}</h5>
          <p class="fs-5">{{ slide.description }}</p>
        </div>
      </div>

      <!-- Navigation lines -->
      <div class="navigation-lines">
        <div class="nav-line" *ngFor="let line of slides; let i = index"
          [ngClass]="{ 'active-line': i === currentSlide }" (click)="goToSlide(i)"></div>
      </div>
    </div>
  </div>
</div>