<nav class="navbar navbar-light" id="layout_nav_side">
  <ul class="navbar-nav">
    <!-- Logo -->
    <li class="nav-item">
      <a class="navbar-brand" routerLink="/" (click)="logout()">
        <img src="Assets/LayoutIcons/Logo.svg" alt="logo" width="32" height="32" />
      </a>
    </li>

    <!-- Dynamic Menu Items -->
    <!-- Sidebar Nav -->
    <li class="nav-item" *ngFor="let item of menuItems" (mouseenter)="hoveredItem = item.label"
      (mouseleave)="hoveredItem = null">
      <a class="nav-link text-white fw-bold" [routerLink]="item.route" routerLinkActive="router-link-active"
        matTooltip="{{ item.label }}">
        <img [src]="item.icon" [alt]="item.label" width="24" height="24" />
      </a>

      <!-- Show MasterComponent on hover -->
      <div class="hover-popup" *ngIf="hoveredItem === 'Master'" (mouseenter)="hoveredItem = 'Master'"
        (mouseleave)="hoveredItem = null">
        <app-master-side-bar></app-master-side-bar>
      </div>
      <!-- Show ConfigurationComponent on Hover  -->
      <div class="hover-popup" *ngIf="hoveredItem === 'Settings'" (mouseenter)="hoveredItem = 'Settings'"
        (mouseleave)="hoveredItem = null">
        <app-settings-side-bar></app-settings-side-bar>
      </div>
      <!-- Show Field Setup Component on Hover  -->
      <div class="hover-popup" *ngIf="hoveredItem === 'Field Setup'" (mouseenter)="hoveredItem = 'Field Setup'"
        (mouseleave)="hoveredItem = null">
        <app-field-setup-side-bar></app-field-setup-side-bar>
      </div>
    </li>
  </ul>
</nav>

<!-- Breadcrumb Header -->
<nav class="navbar" style="margin-left: 65px; width: 95%">
  <div class="container-fluid">
    <!-- Breadcrumb Navigation -->
    <div>
      <ng-container *ngIf="getHeaderText() as breadcrumbs">
        <ng-container *ngFor="
            let breadcrumb of breadcrumbs;
            let first = first;
            let last = last
          ">
          <span *ngIf="first" class="breadcrumb_style"></span>

          <a [routerLink]="breadcrumb.route" class="text-decoration-none breadcrumb_style" [ngClass]="{
              'active-breadcrumb': last,
              'inactive-breadcrumb': !last
            }">
            {{ breadcrumb.label }}
          </a>

          <span *ngIf="!last" class="breadcrumb_style"> / </span>
        </ng-container>
      </ng-container>
    </div>

    <!-- Search Bar & Profile Icon -->
    <div class="d-flex align-items-center">
      <form class="d-flex me-2">
        <div class="position-relative" style="margin-top: 12px">
          <fa-icon [icon]="faSearch" class="search-icon"> </fa-icon>
          <input type="text" class="form-control ps-5" placeholder="Search" />
        </div>
        <a class="nav-link text-white" matTooltip="Notification">
          <img src="Assets/LayoutIcons/Notification.svg" alt="Notification" width="35" height="35"
            style="border: 1.5px solid #ddd; border-radius: 5px; padding: 4px;" /></a>
        <a class="nav-link text-white" matTooltip="Profile">
          <!-- Profile Icon -->
          <img src="Assets/LayoutIcons/Profile Picture_1.svg" alt="Profile" width="35" height="35"
            style="border: 1.5px solid #ddd; border-radius: 5px; background-color: blueviolet;" />
        </a>
      </form>
    </div>
  </div>
</nav>

<!-- The main content that follows the nav bar -->
<div class="container-fluid" id="main-content">
  <router-outlet></router-outlet>
</div>