/* Sidebar Navigation */
#layout_nav_side {
  background-color: #032c3e;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#layout_nav_side ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0;
  width: 100%;
}

/* Nav Items */
.nav-item {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-link {
  text-align: center;
  padding: 10px;
  transition: background 0.3s ease-in-out;
}

/* Active Link Styling */
.router-link-active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

/* Breadcrumb Styling */
.breadcrumb {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}

.breadcrumb a {
  text-decoration: none;
  color: black;
}

.breadcrumb a:hover {
  text-decoration: underline !important;
}

/* Search Bar & Profile */
.search-container {
  display: flex;
  align-items: center;
}

.search-container input {
  border-radius: 5px;
  padding: 5px;
}

.navbar-brand {
  margin-right: 0 !important;
}

.hover-popup {
  position: absolute;
  top: 25px;
  left: 67px;
  z-index: 5 !important;
  background: white;
  padding: 10px;
  border-radius: 10px;
  min-width: 515px;
  width: auto;
  overflow-y: none;
  transition: all 0.2s ease-in-out;
}

/* search icon */
.search-icon {
  position: absolute;
  left: 15px;
  top: 45%;
  transform: translateY(-50%);
  color: #a0a0a0;
  /* Adjust color as needed */
  pointer-events: none;
  /* Prevent click events */
}

.breadcrumb_style {
  font-weight: 500 !important;
  color: #000000 !important;
}

.active-breadcrumb {
  color: black !important;
}

.inactive-breadcrumb {
  color: #000000 !important;
}