.page_left {
    margin-left: 55px;
}

#Add-Division {
    position: absolute;
    top: 60px;
    left: 52%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 1500px;
    height: 90vh;
}

hr {
    border-top: 2px solid #000000;
}

label {
    color: #909090
}

/* ! Drop down select */
.custom-multiselect {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.multiselect-wrapper {
    position: relative;
}

.form-select {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.form-select:focus {
    border-color: #1997ce;
    box-shadow: 0 0 5px #d1d1d1;
}

.selected-items {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.badge {
    background-color: #1997ce !important;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.badge .remove {
    margin-left: 6px;
    cursor: pointer;
    font-weight: bold;
}

.product-image {
    background-color: #2E3032;
    padding: 10px;
    border-radius: 4px;
}

.input-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2E3032;
    padding: 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 30px;
    width: 35px;
    cursor: pointer;
}


.custom-input-wrapper {
    position: relative;
}

.preview-inside-input {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 32px;
    width: 32px;
    background-color: #2E3032;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
}

.preview-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.btn:hover {
    background-color: #1997ce;
    border-color: #1997ce;
}

.btn-outline-primary {
    --bs-btn-color: #1997ce;
    --bs-btn-border-color: #1997ce;
}

.preview-container {
    max-height: 200px;
    /* or fixed height like 250px */
    overflow-y: auto;
    min-height: 160px;
    background-color: #f8f9fa;
    /* Optional: light background */
}

@media screen and (max-width: 1609px) {

    #Add-Division {
        position: absolute;
        top: 60px;
        left: 52%;
        transform: translateX(-50%);
        z-index: 1;
        width: 1520px;
        height: auto;
        overflow: visible !important;
    }
}

@media screen and (min-width: 1610px) {
    #Add-Division {
        position: absolute;
        top: 60px;
        left: 52%;
        transform: translateX(-50%);
        z-index: 1;
        width: 1440px;
        height: 90vh;
        overflow: visible !important;
    }
}


/* ! ~ NG SELECT DROPDOWN SELECT */
::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
    font-weight: 600;
    color: #1997CE !important;
    background-color: rgb(221 221 221) !important;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: #ccc !important;
}

::ng-deep .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: #1997Ce;
    box-shadow:
        inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 3px #1997Ce;
}

::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
    color: #000000;
}

.input-group-text {
    background-color: #D9D9D9 !important;
    font-weight: 500 !important;
    line-height: 1.3 !important;
}

.form-check-input:checked {
    background-color: #1997Ce;
    border-color: #1997Ce;
}


/* ! PASSWORD */
.password-wrapper {
    position: relative;
}

.password-wrapper input {
    padding-right: 40px;
    /* Make space for the icon */
}

.password-wrapper img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s ease;
}

.password-wrapper img:hover {
    opacity: 1;
}

::ng-deep ng-select .ng-value {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 4px;
    /* Optional spacing */
}

::ng-deep ng-select .ng-value-icon {
    order: 0;
    margin-right: 0;
    margin-left: 0.25rem;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    font-size: 1em !important;
    color: white !important;
    background-color: #1997ce !important;
    font-weight: 500 !important;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon:hover {
    background-color: #1997ce !important;
}