.page_left {
    margin-left: 55px;
}

#Add-Division {
    position: absolute;
    top: 60px;
    left: 52%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 1500px;
    height: 90vh;
}

hr {
    border-top: 2px solid #000000;
}

label {
    color: #909090
}

/* ! Drop down select */
.custom-multiselect {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.multiselect-wrapper {
    position: relative;
}

.form-select {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.form-select:focus {
    border-color: #1997ce;
    box-shadow: 0 0 5px #d1d1d1;
}

.selected-items {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.badge {
    background-color: #1997ce !important;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.badge .remove {
    margin-left: 6px;
    cursor: pointer;
    font-weight: bold;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background-color: hsl(0, 0%, 89%) !important;
    color: rgb(0, 0, 0) !important;
}

::ng-deep .ng-dropdown-panel-items.scroll-host {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label {
    font-weight: 600;
    color: #1997CE !important;
}

::ng-deep .ng-select .ng-select-container .ng-value-container .ng-input>input {
    color: black !important;
}

@keyframes slideInFromRight {
    0% {
        opacity: 1;
        transform: translateX(100%);
        /* Fully off-screen right */
    }

    100% {
        opacity: 1;
        transform: translateX(-50%);
        /* Your final transform */
    }
}


@media screen and (max-width: 1609px) {

    #Add-Division {
        position: absolute;
        top: 0px;
        left: 87.4%;
        transform: translateX(-50% -50%);
        z-index: 2;
        width: 400px;
        height: 770px;
        overflow: visible !important;
        animation: slideInFromRight 0.3s ease-in;
    }

    #Add-Division2 {
        position: absolute;
        top: 0;
        left: 4em;
        width: 1540px;
        height: 100%;
        /* Or match the content height dynamically */
        background-color: rgba(46, 48, 50, 0.4);
        z-index: 1;
        backdrop-filter: blur(2px);
    }
}

@media screen and (min-width: 1610px) {
    #Add-Division {
        position: absolute;
        top: 10px;
        left: 77.3%;
        transform: translateX(-50%);
        z-index: 2;
        width: 700px;
        height: auto;
        overflow: visible !important;
        animation: slideInFromRight 0.2s ease-in;
    }

    #Add-Division2 {
        position: absolute;
        top: 0;
        left: 4em;
        z-index: 1;
        width: 1540px;
        height: 100vh;
        background-color: #2E3032;
        overflow: visible !important;
        opacity: 0.4;
    }
}