* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page_left {
    margin-left: 45px;
}

.card-body {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 99.5vh;
    /* optional */
}

#container {
    position: relative;
    width: 160px;
    height: 160px;
}

.circle {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3498db;
    border-radius: 50%;
    animation: mid 1s linear infinite;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 5px solid transparent;
    border-top: 5px solid #3498db;
    border-bottom: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
    transform: translate(-50%, -50%);
}

.loader1 {
    width: 90px;
    height: 90px;
    animation-delay: 0.1s;
}

.loader2 {
    width: 110px;
    height: 110px;
    animation-delay: 0.2s;
}

.loader3 {
    width: 130px;
    height: 130px;
    animation-delay: 0.3s;
}

.loader4 {
    width: 150px;
    height: 150px;
    animation-delay: 0.4s;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes mid {

    0%,
    100% {
        transform: translate(-50%, -50%) scale(0);
    }

    50% {
        transform: translate(-50%, -50%) scale(1);
    }
}