<div class="row">
  <!-- Left: Forgot Password Section -->
  <div class="col-5">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center" style="margin-top: 120px">
      <div>
        <img src="Assets/ForgotPassword/ForgotPassword.png" alt="image" style="height: 110px; width: auto" />
      </div>
      <div>
        <h4>Forgot Password?</h4>
      </div>
      <div>
        <p class="text-muted">No Worries, We'll guide you to reset</p>
      </div>
      <div class="toggle-container d-flex">
        <button class="toggle-btn" [ngClass]="{ active: mode === 'mobile' }" (click)="mode = 'mobile'">
          Mobile
        </button>
        <button class="toggle-btn" [ngClass]="{ active: mode === 'email' }" (click)="mode = 'email'">
          Email
        </button>
      </div>

      <div class="container mt-5">
        <div class="row justify-content-center border-none">
          <div class="col-md-9">
            <form>
              <div class="mt-3">
                <label class="form-label text-muted">
                  {{ mode === "mobile" ? "Mobile No" : "Email" }}
                </label>

                <input *ngIf="mode === 'mobile'" type="text" placeholder="Enter Mobile Number" class="form-control" />
                <input *ngIf="mode === 'email'" type="email" placeholder="Enter Email Address" class="form-control" />
              </div>
            </form>
            <button type="submit" class="btn w-100 mt-3" style="background-color: #1997ce; color: white"
              [routerLink]="'/verification'">
              Reset Password
            </button>
            <div class="text-end mt-4">
              <a [routerLink]="'/home'" style="text-decoration: none; color: #000000">
                Back to Login
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <img src="Assets/ForgotPassword/Frame.png" alt="image" style="height: 50px; width: auto" />
      </div>
    </div>
  </div>

  <!-- Right: Carousel Section -->
  <div class="col-md-7 p-0">
    <div class="full-height-box">
      <!-- Carousel Slides -->
      <div class="carousel-slides">
        <div class="carousel-slide d-flex flex-column" *ngFor="let slide of slides; let i = index"
          [ngClass]="{ 'active-slide': i === currentSlide }">
          <img [src]="slide.image" alt="slide image" class="img-fluid mb-3" />
          <h5>{{ slide.title }}</h5>
          <p class="fs-">{{ slide.description }}</p>
        </div>
      </div>

      <!-- Navigation lines -->
      <div class="navigation-lines">
        <div class="nav-line" *ngFor="let line of slides; let i = index"
          [ngClass]="{ 'active-line': i === currentSlide }" (click)="goToSlide(i)"></div>
      </div>
    </div>
  </div>
</div>