<div class="row page_left">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/configuration/general-settings']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        General Settings
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/configuration/user-settings']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        User Wise Settings
      </a>
    </li>
  </ul>
</div>

<div class="row" style="width: 98%; margin-top: 15px; margin-left: 50px">
  <div class="col-12">
    <!-- Search Bar -->
    <div class="d-flex align-items-center mb-3">
      <div class="input-group">
        <span class="input-group-text">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
        <input
          class="form-control"
          type="search"
          placeholder="Search Settings"
          aria-label="Search"
        />
      </div>
    </div>
  </div>
</div>

<div class="row" style="width: 98%; margin-top: 15px; margin-left: 50px">
  <!-- Sidebar: Vertical Tabs (Left Side) -->
  <div class="col-2">
    <ul class="nav flex-column nav-tabs">
      <li class="nav-item" *ngFor="let tab of tabs">
        <a
          class="nav-link"
          [class.active]="tab === activeTab"
          (click)="setActiveTab(tab)"
          href="javascript:void(0)"
        >
          {{ tab }}
        </a>
      </li>
    </ul>
  </div>

  <!-- Content Area (Right Side) -->
  <div class="col-9">
    <div class="tab-content p-3 border border-top-0">
      <div [ngSwitch]="activeTab">
        <div *ngSwitchCase="'Basic'">
          <h4>Basic Settings</h4>
          <p>Here are the basic settings...</p>
        </div>
        <div *ngSwitchCase="'Mobile App Settings'">
          <h4>Mobile App Settings</h4>
          <p>Configure your mobile app settings here...</p>
        </div>
        <div *ngSwitchCase="'Retailer & Secondary'">
          <h4>Retailer & Secondary</h4>
          <p>Details about retailer & secondary sales...</p>
        </div>
        <div *ngSwitchCase="'Distributor & Primary'">
          <h4>Distributor & Primary</h4>
          <p>Manage your distributor and primary details...</p>
        </div>
        <div *ngSwitchDefault>
          <h4>Welcome</h4>
          <p>Select a tab to view content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
