<div class="row page_left">
  <ul class="nav nav-tabs" id="nav_tab_horizontal">
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/configuration/general-settings']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        General Settings
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/configuration/user-settings']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        User Wise Settings
      </a>
    </li>
  </ul>
</div>

<div class="row" style="width: 98%; margin-top: 15px; margin-left: 50px">
  <div class="col-12">
    <!-- Search Bar -->
    <div class="d-flex align-items-center mb-3">
      <div class="input-group">
        <span class="input-group-text">
          <fa-icon [icon]="faSearch"></fa-icon>
        </span>
        <input
          class="form-control"
          type="search"
          placeholder="Search Settings"
          aria-label="Search"
        />
      </div>
    </div>
  </div>
</div>

<div class="row" style="width: 107%; margin-top: 15px; margin-left: 50px">
  <!-- Sidebar: Vertical Tabs (Left Side) -->
  <div class="col-2">
    <ul class="nav flex-column nav-tabs" id="nav_tab_vertical">
      <li class="nav-item" *ngFor="let tab of tabs">
        <a
          class="nav-link d-flex justify-content-between align-items-center border"
          [class.active]="tab === activeTab"
          (click)="setActiveTab(tab)"
          href="javascript:void(0)"
        >
          {{ tab }}
          <img
            *ngIf="tab === activeTab"
            src="Assets/GeneralSettings/Down Arrow Outline.svg"
            alt=""
            style="width: 16px; height: 16px; margin-left: 8px"
          />
        </a>
      </li>
    </ul>
  </div>

  <!-- Content Area (Right Side) -->
  <div class="col-9">
    <div class="tab-content p-3 border border-top-0">
      <div [ngSwitch]="activeTab">
        <!-- Basic -->
        <div *ngSwitchCase="'Basic'">
          <ng-container *ngFor="let setting of Basic_Settings">
            <div class="row">
              <div class="col-lg-6 mt-2">
                <h6>{{ setting.title }}</h6>
                <p class="text-muted m-0">{{ setting.description }}</p>
              </div>

              <!-- Toggle Switch -->
              <div
                class="col-lg-6 text-end toogle_switch mt-2"
                *ngIf="!setting.hasRadio && !setting.hasDropdown"
              >
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </div>

              <!-- Radio Buttons (Brand Availability) -->
              <div class="col-lg-6 text-end mt-2" *ngIf="setting.hasRadio">
                <mat-radio-group aria-label="Select an option">
                  <mat-radio-button value="1">Brand Wise</mat-radio-button>
                  <mat-radio-button value="2">Product Wise</mat-radio-button>
                </mat-radio-group>
              </div>

              <!-- Dropdown (Choose Currency Type) -->
              <div
                class="col-lg-6 d-flex justify-content-end mt-2"
                *ngIf="setting.hasDropdown"
              >
                <div class="col-5 text-end">
                  <select
                    class="form-select"
                    [(ngModel)]="selectedCurrency"
                    aria-label="Currency Select"
                  >
                    <option
                      *ngFor="let currency of currencies"
                      [ngValue]="currency"
                    >
                      {{ currency.symbol }} - {{ currency.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="border_bottom_dashed_div"></div>
            </div>
          </ng-container>
        </div>

        <!-- Mobile App Settings -->
        <div *ngSwitchCase="'Mobile App Settings'">
          <ng-container *ngFor="let setting of Mobile_App_Settings">
            <div class="row">
              <div class="col-lg-6 mt-2">
                <h6>{{ setting.title }}</h6>
                <p class="text-muted m-0">{{ setting.description }}</p>
              </div>

              <!-- Toggle Switch -->
              <div
                class="col-lg-6 text-end toogle_switch mt-2"
                *ngIf="!setting.isInputField"
              >
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="setting.isEnabled"
                    (change)="
                      onGeoTaggingChange(setting.title, setting.isEnabled)
                    "
                  />
                </div>
              </div>

              <!-- Input Field -->
              <div
                class="col-lg-6 mt-2 d-flex justify-content-end align-items-center gap-2"
                *ngIf="setting.isInputField"
              >
                <div class="col-5">
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="setting.inputValue"
                    [disabled]="!setting.isEditing"
                  />
                </div>
                <a href="#" (click)="setting.isEditing = !setting.isEditing">
                  <img
                    src="Assets/GeneralSettings/pencil.svg"
                    alt="Edit"
                    height="17"
                    width="17"
                  />
                </a>
              </div>
            </div>

            <div class="border_bottom_dashed_div"></div>
          </ng-container>

          <!-- Dependent Settings (Only Show When 'Geo Tagging' is Enabled) -->
          <ng-container *ngIf="isGeoTaggingEnabled">
            <ng-container *ngFor="let setting of Dependent_Geo_Settings">
              <div class="row ms-2">
                <div class="col-lg-6 mt-2">
                  <h6>{{ setting.title }}</h6>
                  <p class="text-muted m-0">{{ setting.description }}</p>
                </div>

                <!-- Input Field for Geo-Fencing Radius -->
                <div
                  class="col-lg-6 mt-2 d-flex justify-content-end align-items-center gap-2"
                  *ngIf="setting.isInputField"
                >
                  <div class="col-5">
                    <input
                      class="form-control"
                      type="text"
                      [(ngModel)]="setting.inputValue"
                      [disabled]="!setting.isEditing"
                    />
                  </div>
                  <a href="#" (click)="setting.isEditing = !setting.isEditing">
                    <img
                      src="Assets/GeneralSettings/pencil.svg"
                      alt="Edit"
                      height="17"
                      width="17"
                    />
                  </a>
                </div>

                <div class="border_bottom_solid_div ms-2"></div>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <!-- Retailer & Secondary  -->
        <div *ngSwitchCase="'Retailer & Secondary'">
          <ng-container *ngFor="let section of Retailer_Secondary">
            <div class="row">
              <div class="col-lg-6 mt-2">
                <h6>{{ section.title }}</h6>
                <p class="text-muted m-0">{{ section.description }}</p>
              </div>

              <!-- Toggle Switch -->
              <div
                class="col-lg-6 text-end toogle_switch"
                *ngIf="!section.isInputField"
              >
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" />
                </div>
              </div>

              <!-- Input Field (Editable) -->
              <div
                class="col-lg-6 mt-2 d-flex justify-content-end align-items-center"
                *ngIf="section.isInputField"
              >
                <div class="col-5">
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="section.inputValue"
                  />
                </div>
              </div>
              <div class="border_bottom_dashed_div"></div>
            </div>
          </ng-container>
        </div>

        <!-- Distributor & Primary -->
        <div *ngSwitchCase="'Distributor & Primary'">
          <ng-container *ngFor="let dependent_primary of Distributor_Primary">
            <div class="row">
              <div class="col-lg-6 mt-2">
                <h6>{{ dependent_primary.title }}</h6>
                <p class="text-muted m-0">
                  {{ dependent_primary.description }}
                </p>
              </div>
              <div class="col-lg-6 text-end toogle_switch mt-2">
                <div class="form-check form-switch">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="dependent_primary.isEnabled"
                    (change)="
                      onPrimaryOrderChange(
                        dependent_primary.title,
                        dependent_primary.isEnabled
                      )
                    "
                  />
                </div>
              </div>
              <div class="border_bottom_dashed_div"></div>
            </div>

            <!-- ✅ Show dependent settings INSIDE the same parent block -->
            <ng-container
              *ngIf="
                dependent_primary.title === 'Primary Order' &&
                isPrimaryOrderEnabled
              "
            >
              <ng-container
                *ngFor="let D_Primary_Order of Dependent_Primary_Order"
              >
                <div class="row ms-2">
                  <div class="col-lg-6 mt-2">
                    <h6>{{ D_Primary_Order.title }}</h6>
                    <p class="text-muted m-0">
                      {{ D_Primary_Order.description }}
                    </p>
                  </div>
                  <div class="col-lg-6 text-end toogle_switch mt-2">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                  </div>
                  <div class="border_bottom_solid_div ms-2"></div>
                </div>
              </ng-container>
            </ng-container>

            <ng-container
              *ngIf="
                dependent_primary.title === 'Add New Distributor' &&
                isNewDistributorEnabled
              "
            >
              <ng-container
                *ngFor="let D_New_Distributor of Dependent_New_Distributor"
              >
                <div class="row ms-2">
                  <div class="col-lg-6 mt-2">
                    <h6>{{ D_New_Distributor.title }}</h6>
                    <p class="text-muted m-0">
                      {{ D_New_Distributor.description }}
                    </p>
                  </div>
                  <div class="col-lg-6 text-end toogle_switch mt-2">
                    <div class="form-check form-switch">
                      <input class="form-check-input" type="checkbox" />
                    </div>
                  </div>
                  <div class="border_bottom_solid_div ms-2"></div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>

        <!-- Tour Plan -->
        <div *ngSwitchCase="'Tour Plan'">
          <h4>Tour Plan</h4>
          <p>Manage your distributor and primary details...</p>
        </div>
        <!-- In Shop -->
        <div *ngSwitchCase="'Inshop'">
          <h4>Inshop</h4>
        </div>
        <!-- Expense -->
        <div *ngSwitchCase="'Expense'">
          <h4>Expense</h4>
        </div>
        <!-- Scheme -->
        <div *ngSwitchCase="'Scheme'">
          <h4>Scheme</h4>
        </div>
        <!-- Merchandise -->
        <div *ngSwitchCase="'Merchandise'">
          <h4>Merchandise</h4>
        </div>
        <!-- Caption -->
        <div *ngSwitchCase="'Caption'">
          <h4>Caption</h4>
        </div>
        <!-- Attendance & Leave -->
        <div *ngSwitchCase="'Attendance & Leave'">
          <h4>Caption</h4>
        </div>
        <!-- Reports -->
        <div *ngSwitchCase="'Reports'">
          <h4>Reports</h4>
        </div>
        <!-- Route -->
        <div *ngSwitchCase="'Route'">
          <h4>Route</h4>
        </div>
        <!-- Default -->
        <div *ngSwitchDefault>
          <h4>Welcome</h4>
          <p>Select a tab to view content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
