.page_left {
    margin-left: 55px;
}

#Add-Division {
    position: absolute;
    top: 60px;
    left: 52%;
    transform: translateX(-50%);
    z-index: 1;
    width: 1500px;
    height: 90vh;
}

hr {
    border-top: 2px solid #000000;
}

.margin-top {
    margin-top: 8.7em;
}

.table-background {
    background-color: #DDEFF8;
}

::ng-deep .input-group:not(.has-validation)> :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating) {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}




@keyframes slideInFromRight {
    0% {
        opacity: 1;
        transform: translateX(100%);
        /* Fully off-screen right */
    }

    100% {
        opacity: 1;
        transform: translateX(-50%);
        /* Your final transform */
    }
}


@media screen and (max-width: 1609px) {

    #Add-Division {
        position: fixed;
        top: 0px;
        left: 84.5%;
        transform: translateX(-50%);
        z-index: 2;
        width: 510px;
        height: 765px;
        overflow: visible !important;
        animation: slideInFromRight 0.3s ease-in;
    }

    #Add-Division2 {
        position: absolute;
        top: 0;
        left: 4em;
        width: 1540px;
        height: 100%;
        /* Or match the content height dynamically */
        background-color: rgba(46, 48, 50, 0.4);
        z-index: 1;
        backdrop-filter: blur(2px);
    }
}

@media screen and (min-width: 1610px) {
    #Add-Division {
        position: fixed;
        top: 10px;
        left: 77.3%;
        transform: translateX(-50%);
        z-index: 2;
        width: 700px;
        height: auto;
        overflow: visible !important;
        animation: slideInFromRight 0.2s ease-in;
    }

    #Add-Division2 {
        position: absolute;
        top: 0;
        left: 4em;
        z-index: 1;
        width: 1540px;
        height: 100vh;
        background-color: #2E3032;
        overflow: visible !important;
        opacity: 0.4;
    }
}