<div *ngIf="isAddCompetitions" class="card shadow p-3" id="Add-Division">
    <mat-stepper linear #stepper>
        <!-- ! DETIALS STEPPER -->
        <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
            <div class="card-body" [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Details</ng-template>
                <div class="card-body p-0 mt-1">
                    <div class="row col-12">
                        <div class="col-4">
                            <div class="mb-3">
                                <label class="form-label">Currency Name <span class="text-danger">*</span></label>
                                <div class="calendar-reisze">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input type="text" matInput formControlName="currencyName">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3">
                                <label class="form-label">Start Date <span class="text-danger">*</span></label>
                                <div class="calendar-reisze">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput [matDatepicker]="startDate_details"
                                            formControlName="startDate" />
                                        <img src="Assets/AddCurrency/Calendar.svg" alt="Calendar Icon"
                                            (click)="startDate_details.open()" class="calendar-icon" />
                                        <mat-datepicker #startDate_details></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3">
                                <label class="form-label">End Date <span class="text-danger">*</span></label>
                                <div class="calendar-reisze">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput [matDatepicker]="endDate_Details" formControlName="endDate" />
                                        <img src="Assets/AddCurrency/Calendar.svg" alt="Calendar Icon"
                                            (click)="endDate_Details.open()" class="calendar-icon" />
                                        <mat-datepicker #endDate_Details></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <textarea class="form-control" id="description" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Competition Type <span class="text-danger">*</span></label>
                                <div class="row">
                                    <!-- Player Competition -->
                                    <div class="col-md-4">
                                        <input type="radio" class="btn-check" name="competitionType" id="player"
                                            autocomplete="off" checked>
                                        <label class="btn btn-outline-primary w-100 text-start p-3" for="player">
                                            <div class="">
                                                <div class="me-3 fs-3">
                                                    <img src="Assets/Gamification/Player.svg" alt="Player Icon"
                                                        class="img-fluid"
                                                        style="height: 2.5rem; padding: 3px; margin-bottom: 10px; ">
                                                </div>
                                                <div>
                                                    <div>
                                                        <h5>Player Competition</h5>
                                                    </div>
                                                    <div class="text-muted small">
                                                        <p style="margin-bottom: 0px;"> Players compete against each
                                                            other to see who can reach a
                                                            specific target at a period of time.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>

                                    <!-- Team Competition -->
                                    <div class="col-md-4">
                                        <input type="radio" class="btn-check" name="competitionType" id="team"
                                            autocomplete="off">
                                        <label class="btn btn-outline-primary w-100 text-start p-3" for="team">
                                            <div class="">
                                                <div class="me-3 fs-3">
                                                    <img src="Assets/Gamification/Team.svg" alt="Player Icon"
                                                        class="img-fluid"
                                                        style="height: 2.5rem; padding: 3px; margin-bottom: 10px;">
                                                </div>
                                                <div>
                                                    <div>
                                                        <h5>Team Competition</h5>
                                                    </div>
                                                    <div class="text-muted small">
                                                        <p style="margin-bottom: 0px;">Teams compete against each other
                                                            to reach a specific target
                                                            at a
                                                            period of time.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <hr style="margin-top: 119px;" />
                </div>
                <div class="col-12 d-flex gap-2 justify-content-end align-items-center">
                    <button class="btn btn-outline-secondary" (click)="closeCard()">Cancel</button>
                    <button class="btn btn-primary" matStepperNext>Next</button>
                </div>
            </div>
        </mat-step>
        <!-- ! TARGET AND PLAYERS -->
        <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
            <div class="card-body" [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Target & Players</ng-template>
                <div class="card-body p-0 mt-1">
                    <div class="row col-12">
                        <div class="col-4">
                            <div class="mb-3">
                                <label class="form-label">Formula <span class="text-danger">*</span><img
                                        src="Assets/Gamification/Info.svg" alt="Add Icon" height="20" width="20"
                                        class="me-2" /></label>
                                <div class="calendar-reisze">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input type="text" matInput formControlName="formula">
                                    </mat-form-field>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch"
                                        id="flexSwitchCheckDefault">
                                    <label class="form-check-label" for="flexSwitchCheckDefault">Add Target <span>
                                            <img src="Assets/Gamification/Info_blue.svg" alt="Add Icon" height="20"
                                                width="20" class="me-2" matTooltip="Target indicates order values"
                                                matTooltipPosition="right" />
                                        </span></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3">
                                <label class="form-label">Start Date <span class="text-danger">*</span></label>
                                <div class="calendar-reisze">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput [matDatepicker]="startDate_TandP"
                                            formControlName="startDate_TandP" />
                                        <img src="Assets/AddCurrency/Calendar.svg" alt="Calendar Icon"
                                            (click)="startDate_TandP.open()" class="calendar-icon" />
                                        <mat-datepicker #startDate_TandP></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="mb-3">
                                <label class="form-label">End Date <span class="text-danger">*</span></label>
                                <div class="calendar-reisze">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput [matDatepicker]="endDate_TandP"
                                            formControlName="endDate_TandP" />
                                        <img src="Assets/AddCurrency/Calendar.svg" alt="Calendar Icon"
                                            (click)="endDate_TandP.open()" class="calendar-icon" />
                                        <mat-datepicker #endDate_TandP></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mb-3">
                                <label for="description" class="form-label">Target</label>
                                <textarea class="form-control" id="description" rows="3"></textarea>
                            </div>
                        </div>
                        <!-- !Ng Prime -->
                        <!-- <div class="col-12">
                            <p-sidebar [(visible)]="sidebarVisible" position="right">
                                <h3>Sidebar</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                    aliquip ex ea commodo consequat.
                                </p>
                            </p-sidebar>
                            <p-button (onClick)="sidebarVisible = true" class="p-button-text">
                                <ng-template pTemplate="content">
                                    <img src="Assets/AdminMasters/Add.svg" alt="Add Icon" height="16" width="16"
                                        class="me-2" />
                                    Add Players
                                </ng-template>
                            </p-button>
                        </div> -->

                        <div class="col-12">
                            <button class="btn filter-btn d-flex align-items-center justify-content-center text-black"
                                style="background-color: #1997ce; color: white !important"
                                [routerLink]="['/master/gamification/competitions/add-competitions/player-selection']"
                                routerLinkActive="router-link-active">
                                <img src="Assets/AdminMasters/Add.svg" alt="Add Icon" height="16" width="16"
                                    class="me-2" />
                                Add Players
                            </button>
                        </div>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <hr style="margin-top: 260px;" />
                </div>
                <div class="row">
                    <div class="col-6 d-flex gap-2 justify-content-start align-items-center"><button
                            class="btn custom-style" (click)="closeCard()">Close</button></div>
                    <div class="col-6 d-flex gap-2 justify-content-end align-items-center">
                        <button class="btn btn-outline-secondary" matStepperPrevious>Previous</button>
                        <button class="btn btn-primary" matStepperNext>Next</button>
                    </div>
                </div>
            </div>
        </mat-step>
        <!-- ! PRIZES -->
        <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Prizes</ng-template>
                <mat-form-field>
                    <mat-label>Prizes</mat-label>
                    <input matInput formControlName="thirdCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <!-- ! SETTINGS -->
        <mat-step [stepControl]="fourthFormGroup" [editable]="isEditable">
            <form [formGroup]="fourthFormGroup">
                <ng-template matStepLabel>Settings</ng-template>
                <mat-form-field>
                    <mat-label>Settings</mat-label>
                    <input matInput formControlName="fourthCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <!-- ! THEMES -->
        <mat-step [stepControl]="fifthFormGroup" [editable]="isEditable">
            <form [formGroup]="fifthFormGroup">
                <ng-template matStepLabel>Themes</ng-template>
                <mat-form-field>
                    <mat-label>Thems</mat-label>
                    <input matInput formControlName="fifthCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                    <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</div>
<router-outlet></router-outlet>