.page_left {
    margin-left: 55px;
}

@media screen and (max-width: 1609px) {
    #Add-Division {
        position: absolute;
        top: 10px;
        left: 52.1%;
        transform: translateX(-50%);
        z-index: 1;
        width: 1515px;
        height: auto;
        overflow: visible !important;
        animation: slideInFromRight 0.5s ease-in;
    }
}

@media screen and (min-width: 1610px) {
    #Add-Division {
        position: absolute;
        top: 10px;
        left: 77.3%;
        transform: translateX(-50%);
        z-index: 9000;
        width: 700px;
        height: auto;
        overflow: visible !important;
        animation: slideInFromRight 0.01s ease-in;
    }
}


@keyframes slideInFromRight {
    0% {
        opacity: 1;
        transform: translateX(100%);
        /* Fully off-screen right */
    }

    100% {
        opacity: 1;
        transform: translateX(-50%);
        /* Your final transform */
    }
}

.table-fixed {
    table-layout: fixed;
    width: 100%;
}

::ng-deep .accordion-button::after {
    background-image: url('/Assets/Gamification/Double Arrow_Forward.svg') !important;
}

/* ! ACCORDIAN STYLES */
::ng-deep .accordion-button:not(.collapsed) {
    color: black !important;
    background-color: #DDEFF8 !important;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

/* ! P DRAWER */
::ng-deep .p-drawer {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    transition: transform 0.3s;
    background: white;
    color: #1997CE;
    border: 1px solid var(--p-drawer-border-color);
    box-shadow: var(--p-drawer-shadow);
}

/* ! MAT TEXT FIELDS BORDER COLOR */
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mat-mdc-notch-piece {
    border-color: #D9D9D9 !important;
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--invalid .mat-mdc-notch-piece {
    border-color: rgb(246, 35, 35) !important
}


/* ! MAT BUTTON STYLE */

::ng-deep .custom-style {
    background-color: #2E3032;
    color: white;
    font-weight: 500;
    border-color: #2E3032;
}

::ng-deep .custom-style:hover {
    background-color: #2E3032;
    color: white;
    font-weight: 500;
    border-color: #2E3032;
}

::ng-deep .mat-mdc-button:not(:disabled) {
    color: #ffffff !important;
}

::ng-deep .mat-mdc-button .mdc-button__label {
    font-size: 1rem !important;
    font-weight: 300;
    padding-left: 0.55rem !important;
    padding-right: 0.65rem !important;
    padding-top: 0.375rem !important;
    padding-bottom: 0.375rem !important;
}

::ng-deep .mat-mdc-button .mat-mdc-button-touch-target {
    position: absolute;
    top: 50% !important;
    height: 37px !important;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: var(--mat-text-button-touch-target-display, block);
    background-color: #1997ce !important;
    border-radius: 5px !important;
}

::ng-deep .p-button:not(:disabled):hover {
    background-color: #1997ce !important;
    border-radius: 5px !important;
    border-color: #1997ce !important;
    color: white;
    font-weight: 400;

}

::ng-deep .p-button-label {
    font-weight: 400 !important;
}

::ng-deep .p-button {
    background-color: #1997ce !important;
    border-radius: 5px !important;
    border-color: #1997ce !important;
    color: white;
    font-weight: 400;
}


::ng-deep .mat-horizontal-stepper-header-container {
    padding: 0px !important;
    background-color: white !important;
    margin-left: 150px !important;
    margin-right: 150px !important;
}

::ng-deep .mat-horizontal-content-container {
    padding: 0px !important;
    background-color: white !important;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

::ng-deep .mat-step-icon {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0 !important;
    border-radius: 5px !important;
    background-color: transparent !important;
    background-image: url('/Assets/Gamification/NotActive_Steeper.svg') !important;
}

::ng-deep .mat-step-icon-selected {
    background-image: url('/Assets/Gamification/Active_Stepper.svg') !important;
    background-color: #1997ce !important;
    color: #000000;
}

/* ::ng-deep .mat-stepper-horizontal-line {
    border-top-width: 2px !important;
    border-radius: 10px !important;
    border-top-style: solid;
    flex: auto;
    height: 0;
    margin: 0 -16px;
    min-width: 32px;
    border-top-color: #D9D9D9 !important;
} */
/* ::ng-deep .mat-stepper-horizontal-line {
    height: 4px !important;
    border: none !important;
    border-radius: 10px !important;
    flex: auto;
    margin: 0 -16px !important;
    min-width: 32px;
    background: linear-gradient(to right, #1997ce 50%, #d9d9d9 50%) !important;
} */

/* ::ng-deep .mat-stepper-horizontal-line {
    position: relative;
    height: 2px;
    background-color: #D9D9D9;
    border-radius: 10px;
} */


/* Base style: all lines are gray */
::ng-deep .mat-stepper-horizontal-line {
    height: 4px !important;
    border: none !important;
    border-radius: 10px !important;
    flex: auto;
    margin: 0 -16px !important;
    min-width: 32px;
    background: #d9d9d9 !important;
}

/* Gradient line after the currently selected step */
::ng-deep .mat-step-header[aria-selected="true"]+.mat-stepper-horizontal-line {
    background: linear-gradient(to right, #1997ce 50%, #d9d9d9 50%) !important;
}

/* 
::ng-deep .mat-step-icon.mat-step-icon-state-edit::after {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background-color: #1997ce;
    margin: 6px auto 0 auto;
    border-radius: 2px;
    position: absolute;
    bottom: -6px;
    left: 0;
    right: 0;
} */


::ng-deep .mat-icon {
    display: none !important;
}

::ng-deep.mat-step-icon-state-edit {
    background-image: url('/Assets/Gamification/Completed_Stepper.svg') !important;
    background-color: transparent !important;
    border-radius: 5px;
    font-size: 0 !important;
}



::ng-deep .mat-step-header:hover:not([aria-disabled]),
.mat-step-header:hover[aria-disabled=false] {
    background-color: var(--mat-stepper-header-hover-state-layer-color,
            color-mix(in srgb, #2f303300 calc(var(--mat-sys-hover-state-layer-opacity) * 100%), transparent)) !important;
    border-radius: 0px !important;
}

/* ! Calendar Style */
::ng-deep .date-picker-container {
    display: flex;
    align-items: center;
    width: 100%;
}

::ng-deep .date-picker-container input {
    flex-grow: 1;
}

::ng-deep .calendar-icon {
    cursor: pointer;
    margin-left: 8px;
    width: 20px;
    height: 20px;
}

.date-picker-container {
    width: 100%;
}

.mat-form-field-wrapper {
    padding-right: 48px;
}

.calendar-icon {
    position: absolute;
    right: 0px;
    padding: 12px;
    top: 35%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 5;
    background-color: #2E3032;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

::ng-deep .mat-mdc-text-field-wrapper {
    height: 40px !important;
    flex: auto;
    will-change: auto;
}

::ng-deep .mdc-text-field {
    display: inline-flex;
    align-items: baseline;
    padding: 0 0px !important;
    position: relative;
    overflow: hidden;
    will-change: opacity, transform, color;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

::ng-deep .mat-form-field-appearance-outline {
    border-color: #ccc;
}

::ng-deep .mat-mdc-form-field-bottom-align {
    display: none !important;
}

::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input,
.mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
    height: auto;
    position: absolute;
    top: 8px;
    left: 10px;
}

/* ? Calender Styles */

::ng-deep .mat-calendar-header {
    padding: 0px !important;
}

::ng-deep .mat-datepicker-content .mat-calendar {
    width: 300px !important;
    height: 320px !important;
}

::ng-deep .mat-datepicker-content {
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3) !important;
    background-color: #fcfcfc !important;
    color: #1997ce !important;
}

::ng-deep .mat-calendar-body-selected {
    background-color: #1997ce !important;
    color: white !important;
}

::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    border-color: #1997ce !important;
    background-color: white !important;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 41px !important;
}

.calendar-reisze {
    position: relative;
    margin-top: -16px;
}

#description {
    line-height: 1.0 !important;
}


::ng-deep .mat-stepper-vertical,
.mat-stepper-horizontal {
    background-color: white !important;
}

/*! Competition Select styles */

::ng-deep .btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: #000000;
    background-color: #DDEFF8;
    border-color: #1997CE;
}

::ng-deep .btn-outline-primary {
    --bs-btn-color: #000000;
    --bs-btn-border-color: #D9D9D9;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #000000;
}

.preview-container {
    max-height: 200px;
    /* or fixed height like 250px */
    overflow-y: auto;
    min-height: 160px;
    background-color: #f8f9fa;
    /* Optional: light background */
}

.product-image {
    background-color: #2E3032;
    padding: 10px;
    border-radius: 4px;
}

.input-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2E3032;
    padding: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 38px;
    width: 38px;
    cursor: pointer;
}


.custom-input-wrapper {
    position: relative;
}

.preview-inside-input {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 32px;
    width: 32px;
    background-color: #2E3032;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
}

.preview-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}