<div class="row" style="display: block">
    <div class="col-12">
        <!-- Search bar -->
        <div class="col-12 mt-3">
            <div class="position-relative">
                <fa-icon [icon]="faSearch" class="search-icon"> </fa-icon>
                <input type="text" class="form-control ps-5" placeholder="Search" />
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4 border_right">
        <div class="text-start" style="color: #909090; font-weight: 500; font-size: 12px;">
            <p class="p-0 m-0">Upload</p>
        </div>
        <ul class="nav flex-column nav-tabs p-0" id="nav_tab_vertical">
            <li class="nav-item" *ngFor="let tab of tabs">
                <a class="nav-link d-flex justify-content-between align-items-center border cursor-pointer"
                    [class.active]="tab === activeTab" (click)="setActiveTab(tab)" href="javascript:void(0)">
                    {{ tab }}
                    <img *ngIf="tab === activeTab" src="Assets/GeneralSettings/Down Arrow Outline.svg" alt="Arrow Icon"
                        style="width: 16px; height: 16px; margin-left: 8px" />
                </a>
            </li>
        </ul>
    </div>
    <div class="col-8 mt-3">
        <div class="tab-content p-3">
            <div [ngSwitch]="activeTab">
                <!-- !  UPLOAD -->
                <div *ngSwitchCase="'Uploads'">
                    <h4>Upload</h4>
                    <mat-chip-set>
                        <mat-chip *ngFor="let upload of Upload_label"
                            [ngClass]="{ 'active-chip': activeChip_Upload === upload.name }"
                            (click)="activeChip_Upload = upload.name" routerLink="{{ upload.route }}">
                            {{ upload.name }}
                        </mat-chip>
                    </mat-chip-set>
                </div>
                <!-- !Default -->
                <div *ngSwitchDefault>
                    <h4>Select another Tab</h4>
                </div>
            </div>
        </div>
    </div>
</div>