.glass-map {
  height: 600px;
  border: 1px solid rgba(25, 151, 206, 0.4);
  background: rgba(25, 151, 206, 0.1);
  box-shadow: 0 0 0 0.3rem rgba(25, 151, 206, 0.5);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 0.5rem;
}

::ng-deep .leaflet-control-container {
  position: absolute;
  top: 480px;
  right: 80px;
}

::ng-deep .leaflet-bar a {
  background-color: #14baa1;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  margin: 10px;
}

::ng-deep .leaflet-bar a:hover,
::ng-deep .leaflet-bar a:focus {
  background-color: white;
  color: #14baa1;
}

::ng-deep .leaflet-bar a:hover.leaflet-control-zoom-out {
  background-color: #ffffff !important;
  color: #BA1446;
}

::ng-deep .leaflet-touch .leaflet-bar {
  background-color: #ffffff;
  border: none;
  background-clip: padding-box;
}

::ng-deep .leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #14baa1;
  color: #ffffff;
}

::ng-deep .leaflet-bar a.leaflet-control-zoom-out {
  background-color: #BA1446 !important;
}

::ng-deep .leaflet-touch .leaflet-bar a {
  border-radius: 5px !important;
}