<div class="row page_left">
  <div class="col-12 mt-3">
    <div class="col-12 d-flex align-items-center justify-content-between">
      <div class="position-relative col-3">
        <fa-icon [icon]="faSearch" class="search-icon"> </fa-icon>
        <input type="text" class="form-control ps-5" placeholder="Search" />
      </div>
      <div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
          class="bordered-icon-button">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Option 1</button>
          <button mat-menu-item>Option 2</button>
          <button mat-menu-item>Option 3</button>
        </mat-menu>
      </div>
    </div>
  </div>
  <!-- Table -->
  <div class="col-12 ">
    <table class="table table-bordered align-middle mt-3">
      <thead class="table-light">
        <tr>
          <th>Company Name</th>
          <th>Alias Name</th>
          <th>City</th>
          <th>State</th>
          <th>Status</th>
          <th class="text-center">
            <div>
              <img src="Assets/AdminMasters/Dashboard.svg" alt="Dashboard" height="25px " width="25px" />
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- Your rows here -->
        <tr>
          <td>Sales Jump</td>
          <td>Text</td>
          <td>Text</td>
          <td>Delhi</td>
          <td>Active</td>
          <td class="text-center">
            <button mat-icon-button [matMenuTriggerFor]="menuTable" aria-label="Example icon-button with a menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menuTable="matMenu">
              <button mat-menu-item>Edit Details</button>
            </mat-menu>
          </td>
        </tr>
        <tr>
          <td>Saneforce</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Active</td>
          <td class="text-center">
            <button mat-icon-button [matMenuTriggerFor]="menuTable" aria-label="Example icon-button with a menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menuTable="matMenu">
              <button mat-menu-item>Edit Details</button>
            </mat-menu>
          </td>
        </tr>
        <tr>
          <td>Twozo</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Active</td>
          <td class="text-center">
            <button mat-icon-button [matMenuTriggerFor]="menuTable" aria-label="Example icon-button with a menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menuTable="matMenu">
              <button mat-menu-item>Edit Details</button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="9" class="text-start fw-bold">Total Records: 3</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>