<!-- Floating Card (only shows on add-division route) -->
<div *ngIf="isAddCompany" class="card shadow p-4" id="Add-Division">
    <div class="card-header bg-white border-0 p-0 mb-2 d-flex align-items-center">
        <h5 class="mb-0 me-2">{{ editMode ? 'Edit Company' : 'Add Company'
            }}</h5>
        <div class="flex-grow-1">
            <hr class="mt-3 mb-0" />
        </div>
    </div>

    <div class="card-body p-0 mt-1">
        <div class="row col-12">
            <div class="col-4">
                <div class="mb-3">
                    <label class="form-label">Company Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" [(ngModel)]="company_Name" />
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label class="form-label">Alias Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" [(ngModel)]="alias_Name" />
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label class="form-label">City <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" [(ngModel)]="company_City" />
                </div>
            </div>
            <div class="col-4">
                <div class="custom-multiselect">
                    <label class="form-label mb-2">State <span class="text-danger">*</span></label>
                    <div class="multiselect-wrapper">
                        <select class="form-select" [(ngModel)]="company_State" multiple style="height: 200px;">
                            <option disabled value="">Select a division</option>
                            <option *ngFor="let type of types" [ngValue]="type">{{ type }}</option>
                        </select>
                        <div class="selected-items" *ngIf="company_State.length > 0">
                            <span class="badge" *ngFor="let selected of company_State">
                                {{ selected }}
                                <span class="remove" (click)="removeSelected(selected)">×</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer bg-white border-0 p-0 mt-3 d-flex justify-content-end gap-2">
        <button class="btn btn-outline-secondary" (click)="closeCard()">
            Cancel
        </button>
        <button class="btn btn-success" (click)="saveCompany()">{{ editMode ? 'Update Company' : 'Save Company'
            }}</button>
    </div>
</div>