<div class="row page_left" style="display: block">
  <div class="col-12 border">
    <!-- Search bar -->
    <div class="col-12 mt-3">
      <div class="position-relative">
        <fa-icon [icon]="faSearch" class="search-icon"> </fa-icon>
        <input type="text" class="form-control ps-5" placeholder="Search" />
      </div>
    </div>
    <!-- Master List -->
    <!-- Sidebar: Vertical Tabs (Left Side) -->
    <div class="row">
      <div class="col-4">
        <ul class="nav flex-column nav-tabs" id="nav_tab_vertical">
          <li class="nav-item" *ngFor="let tab of tabs">
            <a
              class="nav-link d-flex justify-content-between align-items-center border cursor-pointer"
              [class.active]="tab === activeTab"
              (click)="setActiveTab(tab)"
              href="javascript:void(0)"
            >
              {{ tab }}
              <img
                *ngIf="tab === activeTab"
                src="Assets/GeneralSettings/Down Arrow Outline.svg"
                alt="Arrow Icon"
                style="width: 16px; height: 16px; margin-left: 8px"
              />
            </a>
          </li>
        </ul>
      </div>
      <!-- Content Area (Right Side) -->
      <div class="col-8">
        <div class="tab-content p-3">
          <div [ngSwitch]="activeTab">
            <!-- !Configuration -->
            <div *ngSwitchCase="'Configuration'">
              <mat-chip-set>
                <mat-chip
                  *ngFor="let config of Configuration_Label"
                  [ngClass]="{
                    'active-chip': activeChip_Configuration === config.name
                  }"
                  (click)="activeChip_Configuration = config.name"
                  routerLink="{{ config.route }}"
                >
                  {{ config.name }}
                </mat-chip>
              </mat-chip-set>
            </div>

            <!-- !Default -->
            <div *ngSwitchDefault>
              <h4>Welcome</h4>
              <p>Select a tab to view content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
