<div *ngIf="isAddTeamHead" class="card shadow p-3" id="Add-Division">
    <div class="card-header bg-white border-0 p-0 mb-2 d-flex align-items-center">
        <h5 class="mb-0 me-2">Team Head</h5>
        <div class="flex-grow-1">
            <hr class="mt-3 mb-0" />
        </div>
    </div>
    <div class="card-body p-0 mt-1">
        <div class="row col-12">
            <div class="col-4">
                <div class="mb-3">
                    <label class="form-label">State <span class="text-danger">*</span></label>
                    <ng-select [(ngModel)]="state" [items]="stateList" bindLabel="name" placeholder="Select State"
                        [searchable]="true">
                    </ng-select>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label class="form-label">Division <span class="text-danger">*</span></label>
                    <ng-select [(ngModel)]="division" [items]="divisionList" bindLabel="name"
                        placeholder="Select Division" [searchable]="true">
                    </ng-select>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label class="form-label">Designation <span class="text-danger">*</span></label>
                    <ng-select [(ngModel)]="designation" [items]="designationList" bindLabel="name"
                        placeholder="Select Designation" [searchable]="true">
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="custom-row  col-12">
            <div class="alert alert-primary info p-2 mb-3 d-flex align-items-center gap-2" role="alert">
                <i class="bi bi-info-circle-fill info_blue"></i>
                <p class="info_alert mb-0">
                    Select any one employee below to select his team members, you can use above options to filter the
                    list
                </p>
            </div>
        </div>
        <div class="custom-row col-12">
            <div class="card">
                <div class="card-header">
                    <h5 style="margin: 0px;">Select Players</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center gap-3">
                            <div class="position-relative col-12">
                                <fa-icon [icon]="faSearch" class="search-icon" style="font-size: 18px;"></fa-icon>
                                <input type="text" class="form-control ps-5" placeholder="Search" />
                            </div>
                        </div>
                        <div class="col-12 mt-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="SelectAll" [(ngModel)]="selectAll"
                                    (change)="toggleSelectAll()" />
                                <label class="form-check-label" for="SelectAll"
                                    style="color: #1997ce; font-weight: 500;">
                                    Select All
                                </label>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12" style="margin-bottom: 100px;">
                                    <div *ngFor="let employee of employeeList" class="mb-2">
                                        <div class="d-flex align-items-center gap-3">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="employee.selected" (change)="updateSelectAllStatus()" />
                                            <img [src]="employee.profileImage" alt="profile_pic" />
                                            <div class="col-lg-6 mt-2">
                                                <h6 class="m-0">{{ employee.name }}</h6>
                                                <p class="text-muted m-0">{{ employee.designation }}</p>
                                            </div>
                                        </div>
                                        <hr class="my-2" style="opacity: 0.4;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex gap-1 ms-3 p-2">
                    <h6 class="m-0 p-0" style="color: #1997ce;"> Selected: {{ getSelectedCount() }} </h6>
                    <h6 class="m-0 p-0">
                        | Total Record Count: {{ employeeList.length }}
                    </h6>
                </div>
            </div>
            <div class="border_bottom_solid_div"></div>
            <div class="row mt-3">
                <div class="col-12 d-flex justify-content-end align-items-center gap-3">
                    <button class="btn btn-outline-secondary" (click)="closeCard()">Cancel</button>
                    <button class="btn btn-primary" (click)="getSelectedPlayers_Head()">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Background Blur Properties -->
<div *ngIf="isAddTeamHead" class="card shadow p-3" id="Add-Division2"></div>