<!-- Floating Card (only shows on add-division route) -->
<div *ngIf="isAddWorkTypeRoute" class="card shadow p-4" id="Add-Division">
    <div class="card-header bg-white border-0 p-0 mb-2 d-flex align-items-center">
        <h5 class="mb-0 me-2">Add Work Type</h5>
        <div class="flex-grow-1">
            <hr class="mt-3 mb-0" />
        </div>
    </div>

    <div class="card-body p-0 mt-1">
        <div class="row col-12">
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Work Type <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" [(ngModel)]="workType" />
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Work Type Short Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" [(ngModel)]="workTypeShortName" />
                </div>
            </div>

            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Place Involved <span class="text-danger">*</span></label>
                    <ng-select [(ngModel)]="placeInvolved" [items]="placeInvolved_Options"
                        [placeholder]="'Select a Work Type For'" [searchable]="true">
                    </ng-select>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Work Type for <span class="text-danger">*</span></label>
                    <ng-select [(ngModel)]="workTypeFor" [items]="workTypeFor_Options"
                        [placeholder]="'Select a Work Type For'" [searchable]="true">
                    </ng-select>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label class="form-label">Expense KM Needed <span class="text-danger">*</span></label>
                    <ng-select [(ngModel)]="expenseKmNeeded" [items]="expenseKmNeeded_Options"
                        [placeholder]="'Select a Expense KM Needed'" [searchable]="true">
                    </ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="margin-top"></div>
    <div class="card-footer bg-white border-0 p-0 mt-3 d-flex justify-content-end gap-2">
        <button class="btn btn-outline-secondary" (click)="closeCard()">
            Cancel
        </button>
        <button class="btn btn-success" (click)="saveWorkType()">{{ editMode ? 'Update Worktype' : 'Save Worktype'
            }}</button>
    </div>
</div>


<div *ngIf="isAddWorkTypeRoute" class="card shadow p-3" id="Add-Division2"></div>