<div class="row d-flex align-items-center">
  <!-- Left: Forgot Password Section -->
  <div class="col-5">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
      <div>
        <img src="Assets/AllDone/Tick.png" alt="image" style="height: 110px; width: auto; padding: 10px;" />
      </div>
      <div class="mt-2">
        <h4>All done !</h4>
      </div>
      <div>
        <p class="text-muted">Your Password has been successfully updated</p>
      </div>
      <div class="container">
        <div class="row justify-content-center border-none">
          <div class="col-md-8">
            <button type="submit" class="btn w-100" style="background-color: #1997ce; color: white"
              [routerLink]="'/home'">
              Back to login
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <img src="Assets/ForgotPassword/Frame.png" alt="image" class="bottom-img" />
      </div>
    </div>
  </div>

  <!-- Right: Carousel Section -->
  <div class="col-md-7 p-0">
    <div class="full-height-box">
      <!-- Carousel Slides -->
      <div class="carousel-slides">
        <div class="carousel-slide d-flex flex-column" *ngFor="let slide of slides; let i = index"
          [ngClass]="{ 'active-slide': i === currentSlide }">
          <img [src]="slide.image" alt="slide image" class="img-fluid mb-3" />
          <h5>{{ slide.title }}</h5>
          <p class="fs-5">{{ slide.description }}</p>
        </div>
      </div>

      <!-- Navigation lines -->
      <div class="navigation-lines">
        <div class="nav-line" *ngFor="let line of slides; let i = index"
          [ngClass]="{ 'active-line': i === currentSlide }" (click)="goToSlide(i)"></div>
      </div>
    </div>
  </div>
</div>