.carousel-slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  text-align: center;
  opacity: 0;
  transition: left 0.5s ease, opacity 0.5s ease-in-out;
}

.active-slide {
  left: 0;
  opacity: 1;
}

.carousel-slide img {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
}

.navigation-lines {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  z-index: 1;
}

.nav-line {
  width: 45px;
  height: 5px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.nav-line.active-line {
  opacity: 1;
  background-color: #fff;
}

.full-height-box {
  position: relative;
  height: 89vh;
}   