<div class="row d-flex align-items-center">
  <!-- Left: Forgot Password Section -->
  <div class="col-5">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
      <div>
        <img src="Assets/Verification/Password Reset.png" alt="image" style="height: 110px; width: auto" />
      </div>
      <div>
        <h4>Password Reset</h4>
      </div>
      <div>
        <p class="text-muted">We sent a code to ****&#64;gmail.com</p>
      </div>

      <div class="container">
        <div class="row justify-content-center border-none">
          <div class="col-md-8">
            <div class="d-flex justify-content-center gap-4">
              <input #otpInput type="text" class="form-control text-center" maxlength="1" pattern="[0-9]*"
                style="width: 50px; height: 50px" (input)="onOtpInputChange($event, i)"
                (keydown)="onOtpKeyDown($event, i)" *ngFor="let item of otpArray; let i = index" />
            </div>
            <button type="submit" class="btn w-100 mt-3" style="background-color: #1997ce; color: white; padding: 9px"
              [routerLink]="'/newpassword'">
              Confirm
            </button>

            <div class="d-flex justify-content-between mt-3">
              <a [routerLink]="'/home'" style="text-decoration: none; color: #000000">
                Didn't recieve email?
              </a>
              <a [routerLink]="'/home'" style="text-decoration: none; color: #000000">
                Back to Login
              </a>
            </div>
            <div class="text-start mt-2">
              <a [routerLink]="'/home'" style="color: #1997ce">
                Click here to resend
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <img src="Assets/ForgotPassword/Frame.png" alt="image" class="bottom-img" />
      </div>
    </div>
  </div>

  <!-- Right: Carousel Section -->
  <div class="col-md-7 p-0">
    <div class="full-height-box">
      <!-- Carousel Slides -->
      <div class="carousel-slides">
        <div class="carousel-slide d-flex flex-column" *ngFor="let slide of slides; let i = index"
          [ngClass]="{ 'active-slide': i === currentSlide }">
          <img [src]="slide.image" alt="slide image" class="img-fluid mb-3" />
          <h5>{{ slide.title }}</h5>
          <p class="fs-5">{{ slide.description }}</p>
        </div>
      </div>

      <!-- Navigation lines -->
      <div class="navigation-lines">
        <div class="nav-line" *ngFor="let line of slides; let i = index"
          [ngClass]="{ 'active-line': i === currentSlide }" (click)="goToSlide(i)"></div>
      </div>
    </div>
  </div>
</div>