.page_left {
    margin-left: 55px;
}

/* search icon */
.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #949494;
    /* Adjust color as needed */
    pointer-events: none;
    /* Prevent click events */
}

/* border for icon menu */
.bordered-icon-button {
    border: 1px solid #ccc;
    border-radius: 4px;
    /* optional: rounded corners */
    padding: 4px;
    /* optional: spacing inside the button */
}

.red-close {
    filter: invert(26%) sepia(99%) saturate(7477%) hue-rotate(358deg) brightness(95%) contrast(119%);
}

.status-indicator .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.dot-green {
    background-color: green;
}

.dot-red {
    background-color: red;
}

.dot-yellow {
    background-color: yellow;
}