.page_left {
    margin-left: 55px;
}

#Add-Division {
    position: absolute;
    top: 60px;
    left: 52%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 1500px;
    height: 90vh;
}

hr {
    border-top: 2px solid #000000;
}

label {
    color: #909090
}

/* ! Drop down select */
.custom-multiselect {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.multiselect-wrapper {
    position: relative;
}

.form-select {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.form-select:focus {
    border-color: #1997ce;
    box-shadow: 0 0 5px #d1d1d1;
}

.selected-items {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.badge {
    background-color: #1997ce !important;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 13px;
    display: flex;
    align-items: center;
}

.badge .remove {
    margin-left: 6px;
    cursor: pointer;
    font-weight: bold;
}

.product-image {
    background-color: #2E3032;
    padding: 10px;
    border-radius: 4px;
}

.input-icon {
    position: absolute;
    right: -2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2E3032;
    padding: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 38px;
    width: 38px;
    cursor: pointer;
}


.custom-input-wrapper {
    position: relative;
}

.preview-inside-input {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    height: 32px;
    width: 32px;
    background-color: #2E3032;
    border-radius: 4px;
    padding: 2px;
    cursor: pointer;
}

.preview-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.btn:hover {
    background-color: #1997ce;
    border-color: #1997ce;
}

.btn-outline-primary {
    --bs-btn-color: #1997ce;
    --bs-btn-border-color: #1997ce;
}

.preview-container {
    max-height: 200px;
    /* or fixed height like 250px */
    overflow-y: auto;
    min-height: 160px;
    background-color: #f8f9fa;
    /* Optional: light background */
}

@media screen and (max-width: 1609px) {

    #Add-Division {
        position: absolute;
        top: 60px;
        left: 52%;
        transform: translateX(-50%);
        z-index: 1;
        width: 1510px;
        height: auto;
        overflow: visible !important;
    }
}

@media screen and (min-width: 1610px) {
    #Add-Division {
        position: absolute;
        top: 60px;
        left: 52%;
        transform: translateX(-50%);
        z-index: 1;
        width: 1440px;
        height: 90vh;
        overflow: visible !important;
    }
}