/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

.page_left {
  margin-left: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif !important;
}

.form-control {
  display: block;
  width: 100%;
  font-weight: 500;
  line-height: 1.6;
  border: var(--bs-border-width) solid #d9d9d9;
  border-radius: 5px;
}
.labels {
  color: #909090;
  font-size: 14px;
  font-weight: 500;
}
.full-height-box {
  width: 92%;
  margin: 35px;
  border-radius: 20px;
  height: 90.5vh;
  background-color: #1696cd;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.img-down {
  top: 350px;
}

.bottom-img {
  height: 50px;
  width: auto;
  top: 660px;
  position: absolute;
  left: 255px;
}
