/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

.page_left {
  margin-left: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif !important;
}

.form-control {
  display: block;
  width: 100%;
  font-weight: 500;
  line-height: 1.6;
  border: var(--bs-border-width) solid #d9d9d9;
  border-radius: 5px;
}

.labels {
  color: #909090;
  font-size: 14px;
  font-weight: 500;
}

.full-height-box {
  width: 92%;
  margin: 35px;
  border-radius: 20px;
  height: 90.5vh;
  background-color: #1696cd;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.img-down {
  top: 350px;
}

.bottom-img {
  height: 50px;
  width: auto;
  top: 660px;
  position: absolute;
  left: 255px;
}

/* TOGGLE BUTTON STYLE */
.form-switch .form-check-input {
  --bs-form-switch-bg: url("/Assets/Designation/VectorWhite.svg") !important;
  background-color: #909090;
}

.form-switch .form-check-input:checked {
  background-color: #1997ce;
  background-position: right center;
  --bs-form-switch-bg: url("/Assets/Designation/VectorWhite.svg") !important;
  border-color: transparent !important;
}

.form-check-input:focus {
  border-color: transparent !important;
  outline: 0 !important;
  box-shadow: none !important;
}

/* search icon */
.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #909090;
  pointer-events: none;
}

/* Map */
.leaflet-control-attribution {
  display: none !important;
}

/* ! Buttons */

.btn-outline-secondary {
  --bs-btn-color: #1997ce !important;
  --bs-btn-border-color: #1997ce !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #1997ce !important;
  --bs-btn-hover-border-color: #1997ce !important;
  --bs-btn-focus-shadow-rgb: 108, 117, 125 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #1997ce !important;
}

.btn-success {
  --bs-btn-color: #fff !important;
  --bs-btn-bg: #1997ce !important;
  --bs-btn-border-color: #1997ce !important;
  --bs-btn-hover-color: #fff !important;
  --bs-btn-hover-bg: #1997ce !important;
  --bs-btn-hover-border-color: #1997ce !important;
  --bs-btn-focus-shadow-rgb: 60, 153, 110 !important;
  --bs-btn-active-color: #1997ce !important;
  --bs-btn-active-bg: #1997ce !important;
}

/* Dropdown label color */
label {
  color: #909090
}

/* Table spacing */

table td,
table th {
  white-space: nowrap;
  /* prevents text wrap */
}

table th,
table td {
  max-width: 200px;
  width: 100px;
}

/* Style for menu items */
.mat-mdc-menu-panel {
  background-color: white !important;
}

.mat-mdc-menu-item:not([disabled]):hover {
  background-color: #1997cf !important;
  color: white !important;
  border-radius: 10px;
}

/*! Calender Styles */
::ng-deep .mat-calendar-header {
  padding: 0px !important;
}

::ng-deep .mat-datepicker-content .mat-calendar {
  width: 300px !important;
  height: 320px !important;
}

::ng-deep .mat-datepicker-content {
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.3) !important;
  background-color: #fcfcfc !important;
  color: #1997ce !important;
}

::ng-deep .mat-calendar-body-selected {
  background-color: #1997ce !important;
  color: white !important;
}