<div class="row">
  <!-- Left: Forgot Password Section -->
  <div class="col-5">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center" style="margin-top: 120px">
      <div>
        <img src="Assets/NewPassword/Password.png" alt="image" style="height: 110px; width: auto; padding: 10px;" />
      </div>
      <div>
        <h4>Set New Password</h4>
      </div>
      <div>
        <p class="text-muted">Must be atleast 8 Characters</p>
      </div>
      <div class="container">
        <div class="row justify-content-center border-none">
          <div class="col-md-8">
            <form>
              <div class="">
                <div class="mb-3">
                  <label for="password" class="form-label labels">New Password</label>
                  <div class="password-wrapper">
                    <input [type]="showPassword_new ? 'text' : 'password'" class="form-control" id="password" />
                    <img
                      [src]="showPassword_new ? 'Assets/LoginPageImages/Show_Password.svg' : 'Assets/LoginPageImages/Hide_Password.svg'"
                      alt="Toggle Password" (click)="togglePassword_new()" />
                  </div>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label labels">Confirm Password</label>
                  <div class="password-wrapper">
                    <input [type]="showPassword_confirm ? 'text' : 'password'" class="form-control" id="password" />
                    <img
                      [src]="showPassword_confirm ? 'Assets/LoginPageImages/Show_Password.svg' : 'Assets/LoginPageImages/Hide_Password.svg'"
                      alt="Toggle Password" (click)="togglePassword_confirm()" />
                  </div>
                </div>
              </div>
            </form>
            <button type="submit" class="btn w-100 mt-3" style="background-color: #1997ce; color: white; padding: 9px"
              [routerLink]="'/auth/password_alldone'">
              Reset Password
            </button>
            <div class="text-end mt-4">
              <a [routerLink]="'/auth/login'" style="text-decoration: none; color: #000000">
                Back to Login
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 text-center">
        <img src="Assets/ForgotPassword/Frame.png" alt="image" class="bottom-img" />
      </div>
    </div>
  </div>

  <!-- Right: Carousel Section -->
  <div class="col-md-7 p-0">
    <div class="full-height-box">
      <!-- Carousel Slides -->
      <div class="carousel-slides">
        <div class="carousel-slide d-flex flex-column" *ngFor="let slide of slides; let i = index"
          [ngClass]="{ 'active-slide': i === currentSlide }">
          <img [src]="slide.image" alt="slide image" class="img-fluid mb-3" />
          <h5>{{ slide.title }}</h5>
          <p class="fs-5">{{ slide.description }}</p>
        </div>
      </div>

      <!-- Navigation lines -->
      <div class="navigation-lines">
        <div class="nav-line" *ngFor="let line of slides; let i = index"
          [ngClass]="{ 'active-line': i === currentSlide }" (click)="goToSlide(i)"></div>
      </div>
    </div>
  </div>
</div>