<div class="row">
  <!-- Left: Forgot Password Section -->
  <div class="col-5">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center" style="margin-top: 120px">
      <div>
        <img src="Assets/NewPassword/Password.png" alt="image" style="height: 110px; width: auto" />
      </div>
      <div>
        <h4>Set New Password</h4>
      </div>
      <div>
        <p class="text-muted">Must be atleast 8 Characters</p>
      </div>
      <div class="container">
        <div class="row justify-content-center border-none">
          <div class="col-md-9">
            <form>
              <div class="">
                <div class="mb-3">
                  <label class="form-label text-muted">
                    New Password <span style="color: red">*</span></label>
                  <input type="text" class="form-control" />
                  <img src="Assets/NewPassword/Hide_Password.png" alt="" style="
                      position: absolute;
                      left: 518px;
                      width: 25px;
                      top: 345px;
                    " />
                </div>
                <div>
                  <label class="form-label text-muted">
                    Confirm New Password <span style="color: red">*</span>
                  </label>
                  <input type="text" class="form-control" />
                  <img src="Assets/NewPassword/Hide_Password.png" alt="" style="
                      position: absolute;
                      left: 518px;
                      width: 25px;
                      top: 432px;
                    " />
                </div>
              </div>
            </form>
            <button type="submit" class="btn w-100 mt-3" style="background-color: #1997ce; color: white"
              [routerLink]="'/password_alldone'">
              Reset Password
            </button>
            <div class="text-end mt-4">
              <a [routerLink]="'/home'" style="text-decoration: none; color: #000000">
                Back to Login
              </a>
            </div>
          </div>
        </div>
      </div>
      <div style="margin-top: 70px">
        <img src="Assets/ForgotPassword/Frame.png" alt="image" style="height: 50px; width: auto" />
      </div>
    </div>
  </div>

  <!-- Right: Carousel Section -->
  <div class="col-md-7 p-0">
    <div class="full-height-box">
      <!-- Carousel Slides -->
      <div class="carousel-slides">
        <div class="carousel-slide d-flex flex-column" *ngFor="let slide of slides; let i = index"
          [ngClass]="{ 'active-slide': i === currentSlide }">
          <img [src]="slide.image" alt="slide image" class="img-fluid mb-3" />
          <h5>{{ slide.title }}</h5>
          <p class="fs-">{{ slide.description }}</p>
        </div>
      </div>

      <!-- Navigation lines -->
      <div class="navigation-lines">
        <div class="nav-line" *ngFor="let line of slides; let i = index"
          [ngClass]="{ 'active-line': i === currentSlide }" (click)="goToSlide(i)"></div>
      </div>
    </div>
  </div>
</div>